<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966690184394-0hurc2i4udkcmq6u86elckd84b0ajr24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966690184394-0hurc2i4udkcmq6u86elckd84b0ajr24</string>
	<key>API_KEY</key>
	<string>AIzaSyDj0yxnINA8aXpfYfv71IGHC2JRb6pxdbY</string>
	<key>GCM_SENDER_ID</key>
	<string>966690184394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grageApp</string>
	<key>PROJECT_ID</key>
	<string>ztdip-2a11c</string>
	<key>STORAGE_BUCKET</key>
	<string>ztdip-2a11c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966690184394:ios:bd459e5755ccc97d96a833</string>
</dict>
</plist>